In [2]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import random

# ---------------- CONFIG: kitne customers chahiye ----------------
NUM_CUSTOMERS=8000

# random ko fix kiya hai taaki baar-baar same pattern aaye (optional)
random.seed(42)
np.random.seed(42)

# ---------------- CITIES & SEGMENTS LIST ----------------
cities_states=[
    ("Mumbai", "Maharashtra"),
    ("Delhi", "Delhi"),
    ("Bengaluru", "Karnataka"),
    ("Kolkata", "West Bengal"),
    ("Chennai", "Tamil Nadu"),
    ("Pune", "Maharashtra"),
    ("Hyderabad", "Telangana"),
    ("Jaipur", "Rajasthan")
]

segments = ["Consumer", "Corporate", "Home Office"]

# ---------------- CUSTOMERS DATA GENERATE ----------------
customer_rows=[]
start_signup=datetime(2021,1,1)  # signup 2021 se start maan liya

for cid in range(1,NUM_CUSTOMERS+1):
     city,state=random.choice(cities_states)  #isse cities_states ke variable ke saaare values input hojyenge isme
     signup_date=start_signup+ timedelta(days=random.randint(0,365*3))

     customer_rows.append({
     "customer_id":cid,
     "customer_code":f"CUST{cid:05d}",
     "first_name":f"Cust{cid}",
     "last_name":f"User",
     "email":f"cust{cid}@gmail.com",
     "phone":f"9{random.randint(100000000,999999999)}",
     "city":city,
     "state":state,
     "country":"India",
     "segment":random.choice(segments),
     "signup_date":signup_date.date().isoformat()
     })
 # ---------------- DATAFRAME BANAYA & CSV ME SAVE KARO ----------------
customers_df=pd.DataFrame(customer_rows)
customers_df.to_csv("customer.csv", index=False)  # isse csv file banjayegee aur index false isliye rakha gaya hai kyuki usse index hat jayega

print("customer.csv is ready for use",customers_df.shape)

customer.csv is ready for use (8000, 11)

In [3]:
import pandas as pd
import numpy as np
import random

NUM_PRODUCTS=1500

random.seed(42)
np.random.seed(42)


# ---------------- CATEGORY & SUBCATEGORY LIST + PRICE RANGE ----------------
categories_price = {
    "Electronics": {
        "sub": ["Mobiles", "Laptops", "Audio", "Accessories"],
        "min": 8000,
        "max": 150000
    },
    "Furniture": {
        "sub": ["Chairs", "Tables", "Storage"],
        "min": 2000,
        "max": 25000
    },
    "Clothing": {
        "sub": ["T-Shirts", "Jeans", "Jackets"],
        "min": 200,
        "max": 3000
    },
    "Home & Kitchen": {
        "sub": ["Cookware", "Decor", "Appliances"],
        "min": 300,
        "max": 8000
    }
}

product_rows=[]

for pid in range(1,NUM_PRODUCTS+1):
    category=random.choice(list(categories_price.keys()))
    sub_category=random.choice(categories_price[category]["sub"])
    base_cost=random.randint(categories_price[category]["min"],categories_price[category]["max"])
    margin=random.uniform(1.1,1.5)
    cost_price=float(base_cost)
    selling_price=round(cost_price*margin,2)

    product_rows.append({
    "product_id":pid,
    "product_code":f"PROD{pid:05d}",
    "product_name":f"{category} {sub_category} {pid}",
    "category":category,
    "sub_category":sub_category,
    "cost_price":cost_price,
    "selling_price":selling_price
    })

products_df=pd.DataFrame(product_rows)
products_df.to_csv("products.csv", index=False)
print("products.csv is ready to use", products_df.shape)

products.csv is ready to use (1500, 7)

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# --------------- CONFIG ----------------
NUM_ORDERS = 60000   # yahan se order count control hoga

random.seed(42)
np.random.seed(42)

# --------------- CUSTOMERS LOAD KARO (pehle se banaya hua customer.csv) ----------------
# ensure same folder me customer.csv pada ho
customers_df = pd.read_csv("customer.csv")

# --------------- SHIP MODE & STATUS LIST ----------------
ship_modes = ["Standard", "Express", "Same Day"]

# Completed ko zyada weight diya: 4 baar "Completed"
statuses = ["Completed", "Completed", "Completed", "Completed", "Cancelled", "Returned"]

order_rows = []

# orders ka start date
start_order = datetime(2022, 1, 1)

for oid in range(1, NUM_ORDERS + 1):
    # random customer choose
    customer_id = random.randint(1, customers_df.shape[0])

    # random order datetime (2022 se 3 saal ke beech)
    order_date = start_order + timedelta(
        days=random.randint(0, 365 * 3),
        hours=random.randint(0, 23),
        minutes=random.randint(0, 59)
    )

    # shipping delay (0 se 10 din)
    ship_delay_days = random.randint(0, 10)
    ship_date = order_date + timedelta(days=ship_delay_days)

    # order ka status
    status = random.choice(statuses)

    # us customer ki city/state uthao (customer_id sequential hai, isliye -1)
    cust_row = customers_df.iloc[customer_id - 1]
    city = cust_row["city"]
    state = cust_row["state"]

    # shipping cost (â‚¹50 â€“ â‚¹500)
    shipping_cost = round(random.uniform(50, 500), 2)

    order_rows.append({
        "order_id": oid,
        "order_code": f"ORD{oid:06d}",   # ORD000001 format
        "customer_id": customer_id,
        "order_date": order_date.strftime("%Y-%m-%d %H:%M:%S"),
        "ship_date": ship_date.strftime("%Y-%m-%d %H:%M:%S"),
        "ship_mode": random.choice(ship_modes),
        "status": status,
        "shipping_cost": shipping_cost,
        "ship_city": city,
        "ship_state": state,
        "ship_country": "India"
    })

# --------------- DATAFRAME & CSV ----------------
orders_df = pd.DataFrame(order_rows)
orders_df.to_csv("orders.csv", index=False)

print("orders.csv is ready to use", orders_df.shape)

orders.csv is ready to use (60000, 11)

In [20]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

random.seed(42)
np.random.seed(42)

# --------------- ORDERS & ORDER_ITEMS LOAD KARO ----------------
orders_df = pd.read_csv("orders.csv")
order_items_df = pd.read_csv("order_items.csv")

payment_methods = ["UPI", "Credit Card", "Debit Card", "Netbanking", "Wallet", "COD"]

payment_rows = []
payment_id = 1

for _, order in orders_df.iterrows():
    order_id = int(order["order_id"])

    # is order ke saare items nikaalo
    items_for_order = order_items_df[order_items_df["order_id"] == order_id]

    # total items amount = sum(unit_price * quantity)
    items_total = (items_for_order["unit_price"] * items_for_order["quantity"]).sum()

    # shipping cost add karo
    total_amount = float(items_total) + float(order["shipping_cost"])

    # order_date ko datetime me convert karo
    order_dt = datetime.strptime(order["order_date"], "%Y-%m-%d %H:%M:%S")

    # payment order ke 1 se 240 minutes baad maan lete hain
    pay_datetime = order_dt + timedelta(minutes=random.randint(1, 240))

    # payment status order status pe depend karega
    if order["status"] == "Cancelled":
        payment_status = "Refunded"
    elif order["status"] == "Returned":
        payment_status = "Partially Paid"
    else:
        payment_status = "Paid"

    payment_rows.append({
        "payment_id": payment_id,
        "order_id": order_id,
        "payment_date": pay_datetime.strftime("%Y-%m-%d %H:%M:%S"),
        "payment_method": random.choice(payment_methods),
        "amount": round(total_amount, 2),
        "payment_status": payment_status
    })

    payment_id += 1

# --------------- DATAFRAME & CSV ----------------
payments_df = pd.DataFrame(payment_rows)
payments_df.to_csv("payments.csv", index=False)

print("payments.csv is ready to use", payments_df.shape)

payments.csv is ready to use (60000, 6)

In [19]:
import pandas as pd
import numpy as np
import random

random.seed(42)
np.random.seed(42)

# --------------- ORDERS & PRODUCTS LOAD KARO ----------------
orders_df = pd.read_csv("orders.csv")      # jo tumne abhi generate karna hai / kar chuke ho
products_df = pd.read_csv("products.csv")  # pichla products wala

order_item_rows = []
order_item_id = 1

for _, order in orders_df.iterrows():
    # har order ke andar 1 se 5 alag products honge
    num_items = random.randint(1, 5)
    used_products = set()   # taki same product repeat na ho ek hi order me

    for _ in range(num_items):
        # random product select karo
        product_id = random.randint(1, products_df.shape[0])

        # agar ye product pehle se is order me add ho chuka hai to skip
        if product_id in used_products:
            continue
        used_products.add(product_id)

        # product ki row nikaalo
        prod = products_df.iloc[product_id - 1]
        sp = float(prod["selling_price"])
        cp = float(prod["cost_price"])

        # ðŸ”½ PRICE NORMALIZATION
        PRICE_SCALE = 10
        
        sp = sp / PRICE_SCALE
        cp = cp / PRICE_SCALE

        # quantity & discount
        quantity = random.randint(1, 4)
        discount_percent = random.choice([0, 0, 0, 5, 10, 15, 20])  # 0 discount zyada common

        # discount ke baad ka unit price
        effective_price = sp * (1 - discount_percent / 100)

        # revenue & profit calculation
        revenue = effective_price * quantity
        cost = cp * quantity
        profit = revenue - cost

        order_item_rows.append({
            "order_item_id": order_item_id,
            "order_id": int(order["order_id"]),
            "product_id": product_id,
            "quantity": quantity,
            "unit_price": round(effective_price, 2),
            "discount_percent": discount_percent,
            "profit": round(profit, 2)
        })

        order_item_id += 1

# --------------- DATAFRAME & CSV ----------------
order_items_df = pd.DataFrame(order_item_rows)
order_items_df.to_csv("order_items.csv", index=False)

print("order_items.csv is ready to use", order_items_df.shape)

order_items.csv is ready to use (179956, 7)

In [7]:
import os
os.getcwd()

'C:\\Users\\unifi\\matplotlibsagarchaukse'

In [24]:
total_amounttsss=payments_df.groupby("payment_method")["amount"].sum().round(0)
print("total_amounttsss",total_amounttsss)

total_amounttsss payment_method
COD            221623237.0
Credit Card    220921655.0
Debit Card     221646262.0
Netbanking     228117875.0
UPI            225891857.0
Wallet         223210027.0
Name: amount, dtype: float64

In [28]:
orders_df.head()

,order_id,order_code,customer_id,order_date,ship_date,ship_mode,status,shipping_cost,ship_city,ship_state,ship_country
0,1,ORD000001,5239,2022-08-17 00:47:00,2022-08-21 00:47:00,Same Day,Completed,150.44,Chennai,Tamil Nadu,India
1,2,ORD000002,840,2022-06-28 18:27:00,2022-06-28 18:27:00,Standard,Completed,92.16,Bengaluru,Karnataka,India
2,3,ORD000003,4140,2022-02-24 17:12:00,2022-03-06 17:12:00,Standard,Returned,295.22,Hyderabad,Telangana,India
3,4,ORD000004,3680,2023-07-24 00:48:00,2023-07-26 00:48:00,Express,Returned,240.18,Kolkata,West Bengal,India
4,5,ORD000005,1274,2023-03-17 10:06:00,2023-03-18 10:06:00,Express,Completed,93.52,Pune,Maharashtra,India